<!DOCTYPE html>
<html lang="en">
<head>
    <title>ROBINSONCUP - {% block title %}template??{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/water.css' %}">
</head>

<body>
{% if error_message %}
<h2>{{ error_message }}</h2>
{% endif %}
{% if status_message %}
<h2>{{ status_message }}</h2>
{% endif %}

<nav>
<a href="{% url 'index' %}">Home</a>
<a href="{% url 'competition-list' %}">Wettkampf</a>
<a href="{% url 'disciplines-list' %}">Disziplinen</a>
<a href="{% url 'teams' %}">Teams</a>
<a href="{% url 'athletes-list' %}">Athletes</a>
</nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

<footer>
    <a href="{% url 'out' 'csv'%}">-> CSV</a><br>
    <a href="{% url 'out' 'startlist'%}">-> Startliste</a><br>
    <a href="{% url 'out' 'results'%}">-> Ergebnisse/Urkunden</a>
</footer>

</body>
</html>