{% extends "base.html" %}

{% block title %}confirm{% endblock %}

{% block content %}

<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    {{ form }}
    <input type="submit" value="Yes, delete">
</form>

{% endblock %}