{% extends "base.html" %}

{% block title %}Disciplines{% endblock %}

{% block content %}

<form action="{% url 'disciplines-detail' %}" method="post">
    {% csrf_token %}
    {{ management_form }}
    <table>
        {% for form, disc_id in formset_w_ids %}
        <tr>
            {{ form }}
            {% if disc_id %}
                <td><a href="{% url 'results-per-discipline' disc_id %}">Add results</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Save">
</form>

{% endblock %}