{% extends "base.html" %}

{% block content %}
    <h2>Competition</h2>
    <ul>
        {% if competition %}
            {% for c in competition %}
            <li><a href="{% url 'competition-update' c.id %}">{{ c.name }}</a> ({{ c.date }})
                <a href="{% url 'competition-delete' c.id %}">Delete</a>
            </li>
            {% endfor %}
        {% else %}
            <a href="{% url 'competition-add' %}">Add new competition</a>
        {% endif %}
    </ul>
{% endblock %}