{% extends "base.html" %}

{% block content %}
    <h2>Disciplines</h2>
    <ul>
        {% for d in disciplines %}
            <li><a href="{% url 'discipline-update' d.id %}">{{ d.name }}</a>, Smaller is better: {{ d.smaller_is_better }}
                <a href="{% url 'discipline-delete' d.id %}">Delete</a>
                <a href="{% url 'results-per-discipline' d.id %}">Results</a>
            </li>
        {% endfor %}
    </ul>
<a href="{% url 'discipline-add' %}">Add new discipline</a>
{% endblock %}