{% extends "base.html" %}

{% block title %}athletes{% endblock %}

{% block content %}

{% if team_name %}
<h2>Athletes of {{team_name}}</h2>
{% else %}
<h2>Athletes</h2>
{% endif %}

{% if athletes %}
    <ul>
    {% for a in athletes %}
        <li><a href="{% url 'athlete-update' a.id %}">{{ a.name }}</a>
            ({{a.yob}}, {% if a.team %} <a href="{% url 'team-update' a.team.id %}">{{ a.team.name }}</a>{% else %} No team{% endif %})
            <a href="{% url 'athlete-delete' a.id %}">Delete</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No athletes available</p>
{% endif %}

{% block add_athlete_button %}
{% endblock %}

{% endblock %}

