{% extends "base.html" %}

{% block title %}results{% endblock %}

{% block content %}

<a href="{% url 'results-per-discipline' discipline.id %}">ALL</a>
{% for w in wertungen %}
<a href="{% url 'results-per-discipline' discipline.id w %}">{{w}}</a>
{% endfor %}
{% if number_of_teams %}
<h2>Results for {{discipline.name}}</h2>
<form action="{% url 'results-per-discipline' discipline.id %}" method="post">
    {% csrf_token %}
    {{ results_form }}
    <input type="submit" value="Update">
</form>
{% else %}
<p>No teams available</p>
{% endif %}

{% endblock %}