{% extends "base.html" %}

{% block title %}Teams{% endblock %}

{% block content %}

<h2>Teams</h2>
<a href="{% url 'teams' %}">ALL ({{n_total_teams}})</a>
{% for w, number_teams in wertungen.items %}
    <a href="{% url 'teams' w %}">{{w}} ({{number_teams}})</a>
{% endfor %}
{% if teams %}
    <ul>
    {% for t in teams %}
        <li><a href="{% url 'team-update' t.id %}">{{ t.name }}</a> ({{t.verein}})
            <a href="{% url 'team-delete' t.id %}">Delete</a>
            <a href="{% url 'athletes-list' t.id %}">Athletes ({{t.modelathlete_set.count}})</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No teams available</p>
{% endif %}
<a href="{% url 'team-add' %}">New team</a>

{% endblock %}